@model SistemaGHMM.Models.TecnicosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TecnicosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoDatalhes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoDatalhes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicoTipo.TecnicoTipoDescricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
