@model SistemaGHMM.Models.UsuarioModel

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #1A1A1A;
        color: #FFFFFF;
        font-family: 'Arial', sans-serif;
    }

    h1, h4 {
        color: #FFFFFF;
        text-align: center;
    }

    hr {
        border-top: 1px solid #FFFFFF;
    }

    dt {
        color: #A6A6A6;
    }

    dd {
        color: #FFFFFF;
    }

    .row {
        margin-bottom: 20px;
    }

    a {
        color: #ffff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .btn-group {
        text-align: center;
        margin-top: 20px;
    }
</style>

<h1>Detalhes</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.FotoUrl" alt="User Image" style="width:150px;height:150px;border-radius:50%;">
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCpf)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioTelefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioTelefone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioDataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioDataNascimento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEscolaridade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEscolaridade)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoNome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Setor.SetorNome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioSenha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioSenha)
        </dd>
    </dl>
</div>

<div class="btn-group">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
