@model SistemaGHMM.Models.ManutencaoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ManutencaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoManutencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoManutencao.TipoManutencaoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoCusto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tecnicos.TecnicoNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
