@model SistemaGHMM.Models.ManutencaoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ManutencaoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoManutencao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoManutencao.TipoManutencaoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoCusto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoCusto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
