@model SistemaGHMM.Models.FuncionarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FuncionarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioDataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioDataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioEscolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioEscolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo.CargoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioSenha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
